# MongoDB Connection
MONGODB_URI=mongodb+srv://mihirjha:FcQL4CrUUb4Dl0dP@mycluster.fnupdzt.mongodb.net/realestate?appName=mycluster
# or for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/propertydb

# OpenAI API Key (optional, for NLP features)
OPENAI_API_KEY=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

# Server Configuration
PORT=5000
NODE_ENV=development